body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
  align-items: center;
}

header img {
  padding-left: 10px;
  height: 50px
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  justify-content: space-between;
  display: inline-block;
  padding: 20px 10px
}

a {
  color: seashell;
  flex-grow: 1;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#goalz {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#goalz .databox {
  background-color: black;
  margin: auto;
  width: 100%;
}

#tea-cluster {
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  height: 700px;
}

.itemz {
  padding: 5px;
}


.itemz img {
  height: 200px;
  margin: 10px;
  display: block;
}

.itemz span {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#locationz {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  display: block;
}

.located {
  margin: 5px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

#copyright {
  text-align: left;
  padding-left: 20px;
}
